{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='character_selection/character_selection.css') }}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='character_sheet/character_selection.js') }}"></script>
{% endblock %}


{% block content %}
    <nav class="navbar navbar-expand bg-body-tertiary shadow-sm">
        <div class="container-fluid">
            <h4 class="navbar-text ms-auto me-auto">Your characters</h4>
        </div>
    </nav>

    <div class="container mt-2 py-3 d-flex flex-column gap-3 align-items-center">
        
        {% for character in characters %}

            <!-- Character Row -->
            <div class="row col-8 text-bg-primary align-items-center p-2 rounded-2 character-row-card">
                <!-- Image and Character name -->
                <div class="d-flex flex-row col-lg-4 col-md-5 text-center text-md-start">
                    <img
                        src="data:image/jpeg;base64, {{ character['avatar_base64'] }}"
                        alt="User avatar"
                        class="img-fluid rounded-circle"
                        style="max-width: 96px;"
                    >
                    <h3 class="align-self-center ms-3">{{character["name"]}}</h3>
                </div>

                <!-- Buttons -->
                <div class="col d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-primary">
                        <i data-feather="edit"></i>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i data-feather="trash"></i>
                    </button>
                    <button type="button" class="btn btn-primary" value="{{character['name']}}">Gioca</button>
                </div>
            </div>

        {% endfor %}

        <!-- Create new character Row -->
        <div class="row col-8 text-bg-primary align-items-center p-2 rounded-2 character-row-card">
            <div class="col d-flex justify-content-start">
                <div class="btn btn-light">Create a new character...</div>
            </div>
        </div>
        
        
        
        
    </div>

    

{% endblock %}

