{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='landing/landing.css') }}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='landing/landing.js') }}"></script>
{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ADA</a>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">Informazioni</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="{{ url_for('auth.login') }}">
                        Accedi
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <form 
            class="parent d-flex flex-column h-100 justify-content-center align-content-center "
            method="POST"
            >
                <label for="mainTextArea" class="form-label ">
                    <h2>Benvenuto.</h2>
                </label>
                <textarea type="text" 
                    class="form-control-lg mb-2" 
                    id="mainTextArea" 
                    name="characterPrompt"
                    placeholder="Inserisci la descrizione del tuo personaggio..."
                    style="overflow: auto; height: 150px; max-height: 40vh;"
                >
                </textarea>
                <input 
                    type="submit" 
                    value="Done" 
                    class="btn btn-primary"
                >
            </form>
        </div>
    </div>

{% endblock %}




