{% extends 'base.html' %}

{% block content %}

<div class="container-fluid h-100 w-100 d-flex align-items-center justify-content-center">
    <form>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="emailForm" class="form-control" />
        <label class="form-label" for="emailForm">Email address</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="passwordForm" class="form-control" />
        <label class="form-label" for="passwordForm">Password</label>
    </div>

    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rememberMeCheckbox" checked />
            <label class="form-check-label" for="rememberMeCheckbox">Remember me</label>
        </div>
        </div>

        <div class="col">
            <a href="#!">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button  type="button" 
    data-mdb-button-init 
    data-mdb-ripple-init 
    class="btn btn-primary btn-block mb-4"
    >
    Sign in
    </button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a href="{{ url_for('auth.register') }}">Register</a></p>
    </div>
    </form>

</div>

{% endblock %}