{% extends 'base.html' %}

{% block content %}

<div class="container-fluid h-100 w-100 d-flex align-items-center justify-content-center">
    <form>
    <!-- Username input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="usernameForm" class="form-control" />
        <label class="form-label" for="usernameForm">Username</label>
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="emailForm" class="form-control" />
        <label class="form-label" for="emailForm">Email address</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="passwordForm" class="form-control" />
        <label class="form-label" for="passwordForm">Password</label>
    </div>

    <div class="submit-div">
        <!-- Submit button -->
        <button  type="button" 
        data-mdb-button-init 
        data-mdb-ripple-init 
        class="btn btn-primary btn-block mb-4"
        >
        Register
        </button>
    </div>


    </form>

</div>

{% endblock %}