{% extends 'auth/auth_base.html' %}

{% block auth_title %}Register{% endblock %}
{% block submit_text%}Register{% endblock %}

{% block fields %}
<!-- Username input -->
<div data-mdb-input-init class="form-outline mb-4">
    <input name="username" type="text" id="usernameForm" class="form-control" />
    <label class="form-label" for="usernameForm">Username</label>
</div>

<!-- Email input -->
<div data-mdb-input-init class="form-outline mb-4">
    <input name="email" type="email" id="emailForm" class="form-control" />
    <label class="form-label" for="emailForm">Email address</label>
</div>

<!-- Password input -->
<div data-mdb-input-init class="form-outline mb-4">
    <input name="password" type="password" id="passwordForm" class="form-control" />
    <label class="form-label" for="passwordForm">Password</label>
</div>
{% endblock %}