/*  Consigliato in https://www.joshwcomeau.com/css/surprising-truth-about-pixels-and-accessibility/ */
html {
    --8px: 0.5rem:
    --9px: 0.5625rem;
    --10px: 0.625rem;
    --11px: 0.6875rem;
    --12px: 0.75rem;
    --13px: 0.8125rem;
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
}

* {
        box-sizing: border-box !important;
}

html, body {margin: 0; width:100%; height: 100%;}



