{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='character_sheet/character_sheet.css') }}">
{% endblock %}

{% block js %}
    <script>
        // url inserted by the jinja render_template() 
        const uploadUrl = "{{ url_for('creation.upload') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='character_sheet/character_sheet.js') }}"></script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand bg-body-tertiary shadow-sm sticky-top">
        <div class="container-fluid">
            <h4 class="navbar-text ms-auto me-auto">{{ character.name }}</h4>
        </div>
    </nav>
    
    <div class="container py-3">

        <!-- Image and description row  -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-12 d-flex flex-column align-items-center gap-2 mb-3">
                        <img 
                            id="character-avatar-image"
                            src="{{ url_for('static', filename='temp/avatar_animal_00001.png') }}" 
                            alt="User avatar"
                            class="img-fluid mt-5 avatar"
                        >
                        <button 
                        class = "btn btn-primary"
                        id="character-avatar-button">
                            <i data-feather="upload"></i>
                            Upload file
                        </label>
                        <input type="file" 
                        id="character-avatar-input" 
                        name="character-avatar-input" 
                        accept="image/png, image/jpeg"
                        class="file-upload"
                        />
                        </input>

            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 align-content-center my-2">
                <label for="descriptionTextArea" class="form-label">Descrizione del personaggio</label>
                <textarea 
                    class="form-control no-resize" 
                    id="descriptionTextArea" 
                    rows="8" 
                    placeholder="Inserisci la descrizione del tuo personaggio..."
                >
                </textarea>
            </div>
        </div>

        <!-- Details Row -->

        <dl class="row">
            <dt class="col-sm-3">
                Race
            </dt>
            <dd class="col-sm-9">
                {{character["race"]}}
            </dd>
            
            <dt class="col-sm-3">
                Class
            </dt>
            <dd class="col-sm-9">
                {{character["class"]}}
            </dd>

            <dt class="col-sm-3">
                Maximum Healthpoints
            </dt>
            <dd class="col-sm-9">
                {{character["max_hp"]}}
            </dd>
            
            <dt class="col-sm-3">
                Maximum Mana
            </dt>
            <dd class="col-sm-9">
                {{character["mana"]}}
            </dd>

            
            <dt class="col-sm-3">
                Level
            </dt>
            <dd class="col-sm-9">
                {{character["level"]}}
            </dd>
            
            <dt class="col-sm-3">
                Gold
            </dt>
            <dd class="col-sm-9">
                {{character["gold"]}}
            </dd>
            
            <dt class="col-sm-3">
                XP
            </dt>
            <dd class="col-sm-9">
                {{character["xp"]}}
            </dd>


            
            <dt class="col-sm-3">
                Alignment
            </dt>
            <dd class="col-sm-9">
                {{character["alignment_righteousness"]}} {{character["alignment_morality"]}}
            </dd>
            
            <dt class="col-sm-3">
                Birthplace
            </dt>
            <dd class="col-sm-9">
                {{character["birthplace"]}}
            </dd>
        </dl>

        <!-- Stats Row -->
        <div class="row mb-2">
            <div class="col-lg-2 col-sm-12 mb-2">
                <h3>Remaining points: </h3>
                <p>2</p>
            </div>

            {% for stat, value in character["stats"].items() %}
            <div class="col-lg-auto col-md-4 col-sm-6 mb-2">
                <div class="vstack align-items-center bg-secondary">
                    <h3>{{ stat }}</h3>
                    <div class="box">
                        <p>{{value}}</p>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary"><i data-feather="arrow-up-circle"></i></button>
                        <button class="btn btn-primary"><i data-feather="arrow-down-circle"></i></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Skills Row -->
         <div class="row mb-2">
            <div class="col-md-6">
                <h3>Skills</h3>
                <ul class="list-group list-group-item-primary">
                    {% for name in character["skills"] %}
                        <li class="list-group-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="placeholder desc">
                            {{name}}
                        </li>
                    {% endfor %}
                </ul>
            </div>

         </div>

        <!-- Items Row -->
        <div class="row mb-2">
            <div class="col-md-6">
                <h3>Items</h3>
                <ul class="list-group list-group-item-primary">
                    {% for item in character["inventory"] %}
                        <li class="list-group-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="temp description"">
                            {{item}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
         </div>

    </div>
    
    <script>
        // Cambia la descrizione nella text area
        const desc = {{ character["description"] | tojson }};
        $('#descriptionTextArea').val(desc);
    </script>


{% endblock %}

