{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='character_sheet/character_sheet.css') }}">
{% endblock %}

{% block js %}
    <script>
        // url inserted by the jinja render_template() 
        const uploadUrl = "{{ url_for('creation.upload') }}";
        const characterSelectURL = " {{url_for('selection.selection')}} "
        character = {{ character|tojson }}
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='character_sheet/character_sheet.js') }}"></script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand bg-body-tertiary shadow-sm sticky-top">
        <div class="container-fluid">
            <h4 class="navbar-text ms-auto me-auto">{{ character.name }}</h4>
        </div>
    </nav>
    
    <div class="container py-3">

        <!-- Image and description row  -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-12 d-flex flex-column align-items-center gap-2 mb-3">
                        <img 
                            id="character-avatar-image"
                            src="{{ url_for('static', filename='temp/avatar_animal_00001.png') }}" 
                            alt="User avatar"
                            class="img-fluid mt-5 avatar"
                        >
                        <button 
                        class = "btn btn-primary"
                        id="character-avatar-button">
                            <i data-feather="upload"></i>
                            Upload file
                        </label>
                        <input type="file" 
                        id="character-avatar-input" 
                        name="character-avatar-input" 
                        accept="image/png, image/jpeg"
                        class="file-upload"
                        />
                        </input>

            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 align-content-center my-2">
                <label for="descriptionTextArea" class="form-label">Descrizione del personaggio</label>
                <textarea 
                    class="form-control no-resize" 
                    id="descriptionTextArea" 
                    rows="8" 
                    placeholder="Inserisci la descrizione del tuo personaggio..."
                >
                </textarea>
            </div>
        </div>

        <!-- Details Row -->

        <dl class="d-flex flex-wrap gap-5 align-items-stretch">
            <div class="flex-row export">
                <dt class="col-sm-3 export-key">
                    Race
                </dt>
                <dd class="col-sm-9 export-value">
                    {{character["race"]}}
                </dd>
            </div>
            
            <div class="export">
                <dt class="col-sm-3 export-key">
                    Class
                </dt>
                <dd class="col-sm-3 export-value">
                    {{character["class"]}}
                </dd>
            </div>

            <div class="export">
            <dt class="col-sm-3 export-key">
                Maximum Healthpoints
            </dt>
            <dd class="col-sm-3 export-value">
                {{character["max_hp"]}}
            </dd>
            </div>
            
            <div class="export">
                <dt class="col-sm-3 export-key">
                    Maximum Mana
                </dt>
                <dd class="col-sm-3 export-value">
                    {{character["mana"]}}
                </dd>
            </div>
            
            <div class="export">
                <dt class="col-sm-3 export-key">
                    Level
                </dt>
                <dd class="col-sm-3 export-value">
                    {{character["level"]}}
                </dd>
            </div>

            <div class="export">
                <dt class="col-sm-3 export-key">
                    Gold
                </dt>
                <dd class="col-sm-3 export-value">
                    {{character["gold"]}}
                </dd>
            </div>

            <div class="export">
                <dt class="col-sm-3 export-key">
                    XP
                </dt>
                <dd class="col-sm-3 export-value">
                    {{character["xp"]}}
                </dd>
            </div>

            <div class="export">
            <dt class="col-sm-3 export-key">
                Alignment
            </dt>
            <dd class="col-sm-3 export-value">
                {{character["alignment_righteousness"]}} {{character["alignment_morality"]}}
            </dd>
            </div>

            <div class="export">
            <dt class="col-sm-3 export-key">
                Birthplace
            </dt>
            <dd class="col-sm-3 export-value">
                {{character["birthplace"]}}
            </dd>
            </div>
        </dl>

        <!-- Stats Row -->
        <div class="row mb-2">
            <div class="col-lg-2 col-sm-12 mb-2">
                <h3>Remaining points: </h3>
                <p>2</p>
            </div>

            {% for stat, value in character["stats"].items() %}
            <div class="col-lg-auto col-md-4 col-sm-6 mb-2">
                <div class="vstack align-items-center bg-secondary">
                    <h3>{{ stat }}</h3>
                    <div class="box">
                        <p>{{value}}</p>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary"><i data-feather="arrow-up-circle"></i></button>
                        <button class="btn btn-primary"><i data-feather="arrow-down-circle"></i></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Skills Row -->
         <div class="row mb-2">
            <div class="col-md-6">
                <h3>Skills</h3>
                <ul class="list-group list-group-item-primary">
                    {% for name in character["skills"] %}
                        <li class="list-group-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{skills_descriptions[name]}}">
                            {{name}}
                        </li>
                    {% endfor %}
                </ul>
            </div>

         </div>

        <!-- Items Row -->
        <div class="row mb-2">
            <div class="col-md-6">
                <h3>Items</h3>
                <ul class="list-group list-group-item-primary">
                    {% for item in character["inventory"] %}
                        <li class="list-group-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{items_descriptions[item]}}"">
                            {{item}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
         </div>

         <div class="row my-3 d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-center">
                <button 
                class="btn btn-primary"
                id="character-submit"
                >
                    Submit character
                </button>
            </div>
         </div>
    </div>


{% endblock %}

